In [5]:
#ques 1:

email = input("Enter email id   :  ")
x =email.index("@")
dot = email.index(".")
print("  ",email[x+1:dot],end = " ")

Enter email id   :  om@rediffmail.in
   rediffmail

In [13]:
a= "akshay@gmail.co"

z = a.split("@")

out= z[1].split(".")[-2]
print(out)

gmail

In [10]:
# Ques 2
my_str = input("Enter word seperated by comma  :  ")
words = my_str.split(",")

words.sort()
print("The sorted words are:")
for word in words:
    print(word,end = ",")

Enter word seperated by comma  :  omkar,dinu,ganu
The sorted words are:
dinu,ganu,omkar,

In [5]:
# Question 4
num= [1,3,5,6,2,7,9]
str(num)

res= [ele for ele in range(max(num)+1) if ele not in num]
print(str(res))

[0, 4, 8]

In [11]:
# question 5

num = [1,2,4,5,7,5,7,0,1,3,8,0]
sort = num.sort()
lists= []
for i in num:
    if i == i:
        num.remove(i)
        lists.append(i)
        
# res= num-lists
print(num)

[0, 1, 3, 5, 7, 8]

# Set

In [12]:
set1 = {"apple", "banana", "cherry"}

In [15]:
set1.add("grapes")

In [16]:
set1

{'apple', 'banana', 'cherry', 'grapes'}

In [17]:
set2= {"apple","grapes","orange","pineapple"}
set1.difference(set2)

{'banana', 'cherry'}

In [18]:
set2.difference(set1)

{'orange', 'pineapple'}

In [19]:
for friuts in set1:
    print(friuts)

grapes
cherry
apple
banana

In [21]:
set1[1]

TypeError: 'set' object is not subscriptable

In [23]:
uni = set1.union(set2)
uni

{'apple', 'banana', 'cherry', 'grapes', 'orange', 'pineapple'}

In [27]:
print(set1)
set1.remove("banana")
set1

{'cherry', 'banana'}

{'cherry'}

In [30]:
set1=set2.copy()
set1

{'apple', 'grapes', 'orange', 'pineapple'}

In [31]:
fname= input("enter friut name  :")
if fname in uni:
    print("  Yes ,",fname,"is a friut")

enter friut namebanana
Yes, banana is a friut