In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("general_data (2).csv")
data.head(5)

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [3]:
# from sklearn.preprocessing import LabelEncoder
# le =LabelEncoder
data.loc[data["Attrition"]=="Yes","Attrition"]=1
data.loc[data["Attrition"]=="No","Attrition"]=0

data.head(10)

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
5,46,0,Travel_Rarely,Research & Development,8,3,Life Sciences,1,6,Female,...,3.0,Y,13,8,0,28.0,5,7,7,7
6,28,1,Travel_Rarely,Research & Development,11,2,Medical,1,7,Male,...,2.0,Y,20,8,1,5.0,2,0,0,0
7,29,0,Travel_Rarely,Research & Development,18,3,Life Sciences,1,8,Male,...,2.0,Y,22,8,3,10.0,2,0,0,0
8,31,0,Travel_Rarely,Research & Development,1,3,Life Sciences,1,9,Male,...,0.0,Y,21,8,0,10.0,2,9,7,8
9,25,0,Non-Travel,Research & Development,7,4,Medical,1,10,Female,...,1.0,Y,13,8,1,6.0,2,6,1,5

In [4]:
data.isna().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [5]:
df=data.fillna(method='ffill')

In [6]:
# data.TotalWorkingYears.fillna=data.TotalWorkingYears.median()

In [7]:
df.isna().sum()

Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeCount              0
EmployeeID                 0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
Over18                     0
PercentSalaryHike          0
StandardHours              0
StockOptionLevel           0
TotalWorkingYears          0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

In [8]:
df.describe().columns

Index(['Age', 'Attrition', 'DistanceFromHome', 'Education', 'EmployeeCount',
       'EmployeeID', 'JobLevel', 'MonthlyIncome', 'NumCompaniesWorked',
       'PercentSalaryHike', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'YearsAtCompany',
       'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [9]:
df.dtypes

Age                          int64
Attrition                    int64
BusinessTravel              object
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeID                   int64
Gender                      object
JobLevel                     int64
JobRole                     object
MaritalStatus               object
MonthlyIncome                int64
NumCompaniesWorked         float64
Over18                      object
PercentSalaryHike            int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears          float64
TrainingTimesLastYear        int64
YearsAtCompany               int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

# Converting all categorical Variable to Numeric

In [10]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df["BusinessTravel"]=le.fit_transform(df.BusinessTravel)
df["Department"]=le.fit_transform(df.Department)
df["EducationField"]=le.fit_transform(df.EducationField)
df["MaritalStatus"]=le.fit_transform(df.MaritalStatus)
df["Gender"]=le.fit_transform(df.Gender)
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,2,2,6,2,1,1,1,0,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,1,1,10,1,1,1,2,0,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,1,1,17,4,4,1,3,1,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,0,1,2,5,1,1,4,1,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,2,1,10,1,3,1,5,1,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [11]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Age,4410.0,36.923810,9.133301,18.0,30.00,36.0,43.00,60.0
Attrition,4410.0,0.161224,0.367780,0.0,0.00,0.0,0.00,1.0
BusinessTravel,4410.0,1.607483,0.665304,0.0,1.00,2.0,2.00,2.0
Department,4410.0,1.260544,0.527673,0.0,1.00,1.0,2.00,2.0
DistanceFromHome,4410.0,9.192517,8.105026,1.0,2.00,7.0,14.00,29.0
Education,4410.0,2.912925,1.023933,1.0,2.00,3.0,4.00,5.0
EducationField,4410.0,2.247619,1.331067,0.0,1.00,2.0,3.00,5.0
EmployeeCount,4410.0,1.000000,0.000000,1.0,1.00,1.0,1.00,1.0
EmployeeID,4410.0,2205.500000,1273.201673,1.0,1103.25,2205.5,3307.75,4410.0
Gender,4410.0,0.600000,0.489954,0.0,0.00,1.0,1.00,1.0
JobLevel,4410.0,2.063946,1.106689,1.0,1.00,2.0,3.00,5.0
MaritalStatus,4410.0,1.097279,0.729955,0.0,1.00,1.0,2.00,2.0
MonthlyIncome,4410.0,65029.312925,47068.888559,10090.0,29110.00,49190.0,83800.00,199990.0
NumCompaniesWorked,4410.0,2.693197,2.499167,0.0,1.00,2.0,4.00,9.0
PercentSalaryHike,4410.0,15.209524,3.659108,11.0,12.00,14.0,18.00,25.0
StandardHours,4410.0,8.000000,0.000000,8.0,8.00,8.0,8.00,8.0
StockOptionLevel,4410.0,0.793878,0.851883,0.0,0.00,1.0,1.00,3.0
TotalWorkingYears,4410.0,11.285261,7.787073,0.0,6.00,10.0,15.00,40.0
TrainingTimesLastYear,4410.0,2.799320,1.288978,0.0,2.00,3.0,3.00,6.0
YearsAtCompany,4410.0,7.008163,6.125135,0.0,3.00,5.0,9.00,40.0
YearsSinceLastPromotion,4410.0,2.187755,3.221699,0.0,0.00,1.0,3.00,15.0
YearsWithCurrManager,4410.0,4.123129,3.567327,0.0,2.00,3.0,7.00,17.0

In [12]:
df.kurt()

Age                       -0.405951
Attrition                  1.397690
BusinessTravel             0.698371
Department                -0.393269
DistanceFromHome          -0.227045
Education                 -0.560569
EducationField            -0.689242
EmployeeCount              0.000000
EmployeeID                -1.200000
Gender                    -1.834052
JobLevel                   0.395525
MaritalStatus             -1.115231
MonthlyIncome              1.000232
NumCompaniesWorked         0.011277
PercentSalaryHike         -0.302638
StandardHours              0.000000
StockOptionLevel           0.361086
TotalWorkingYears          0.901566
TrainingTimesLastYear      0.491149
YearsAtCompany             3.923864
YearsSinceLastPromotion    3.601761
YearsWithCurrManager       0.167949
dtype: float64

In [13]:
df.skew()

Age                        0.413005
Attrition                  1.843111
BusinessTravel            -1.438026
Department                 0.172114
DistanceFromHome           0.957466
Education                 -0.289484
EducationField             0.549997
EmployeeCount              0.000000
EmployeeID                 0.000000
Gender                    -0.408387
JobLevel                   1.024703
MaritalStatus             -0.152071
MonthlyIncome              1.368884
NumCompaniesWorked         1.029043
PercentSalaryHike          0.820569
StandardHours              0.000000
StockOptionLevel           0.968321
TotalWorkingYears          1.113861
TrainingTimesLastYear      0.552748
YearsAtCompany             1.763328
YearsSinceLastPromotion    1.982939
YearsWithCurrManager       0.832884
dtype: float64

In [14]:
df1=df.drop(["EmployeeCount","EmployeeID","StandardHours","JobRole"],axis=1)
df1.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,Gender,JobLevel,MaritalStatus,MonthlyIncome,NumCompaniesWorked,Over18,PercentSalaryHike,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,2,2,6,2,1,0,1,1,131160,1.0,Y,11,0,1.0,6,1,0,0
1,31,1,1,1,10,1,1,0,1,2,41890,0.0,Y,23,1,6.0,3,5,1,4
2,32,0,1,1,17,4,4,1,4,1,193280,1.0,Y,15,3,5.0,2,5,0,3
3,38,0,0,1,2,5,1,1,3,1,83210,3.0,Y,11,3,13.0,5,8,7,5
4,32,0,2,1,10,1,3,1,1,2,23420,4.0,Y,12,2,9.0,2,6,0,4

In [15]:
df1.corr()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,Gender,JobLevel,MaritalStatus,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
Age,1.000000,-0.159205,0.024751,-0.010846,0.006963,-0.035706,0.043194,-0.039352,-0.002884,-0.095029,-0.044314,0.296805,-0.033137,-0.031753,0.678857,-0.027308,0.311309,0.216513,0.202089
Attrition,-0.159205,1.000000,0.000074,-0.048206,-0.009730,-0.015111,-0.057940,0.018125,-0.010290,0.162070,-0.031176,0.041736,0.032533,-0.006839,-0.169622,-0.049431,-0.134392,-0.033019,-0.156199
BusinessTravel,0.024751,0.000074,1.000000,-0.010982,0.024616,0.002755,-0.015462,-0.039243,0.046111,0.024001,-0.037597,0.022088,-0.031054,0.003683,0.033963,-0.041888,-0.014575,-0.032591,-0.022636
Department,-0.010846,-0.048206,-0.010982,1.000000,0.012134,-0.004597,0.013720,0.003158,0.002923,-0.044619,-0.032237,-0.003179,-0.007840,0.010512,-0.020024,0.012866,0.010078,0.014845,0.018016
DistanceFromHome,0.006963,-0.009730,0.024616,0.012134,1.000000,-0.008638,-0.024665,-0.044173,-0.037329,-0.027893,-0.021607,-0.013006,0.038125,0.011169,0.007762,-0.009001,0.031684,0.002290,0.021584
Education,-0.035706,-0.015111,0.002755,-0.004597,-0.008638,1.000000,0.012329,-0.016547,0.045746,0.024991,0.006410,-0.016912,-0.040531,0.001261,-0.009485,0.010472,0.006080,0.022490,0.005358
EducationField,0.043194,-0.057940,-0.015462,0.013720,-0.024665,0.012329,1.000000,-0.005634,-0.019528,-0.051409,0.008858,0.007638,-0.011214,0.021620,0.021214,-0.021793,0.023120,0.048181,0.021664
Gender,-0.039352,0.018125,-0.039243,0.003158,-0.044173,-0.016547,-0.005634,1.000000,-0.026854,-0.009132,0.007530,-0.066905,0.011841,0.019237,-0.027572,-0.030167,-0.017277,-0.021812,0.004438
JobLevel,-0.002884,-0.010290,0.046111,0.002923,-0.037329,0.045746,-0.019528,-0.026854,1.000000,-0.022021,0.047316,-0.011028,0.010973,0.000993,-0.037831,-0.032500,-0.064219,-0.060811,-0.055251
MaritalStatus,-0.095029,0.162070,0.024001,-0.044619,-0.027893,0.024991,-0.051409,-0.009132,-0.022021,1.000000,-0.052383,-0.037967,0.006378,0.014745,-0.078023,0.012798,-0.059986,-0.030915,-0.038570
MonthlyIncome,-0.044314,-0.031176,-0.037597,-0.032237,-0.021607,0.006410,0.008858,0.007530,0.047316,-0.052383,1.000000,-0.020922,0.004325,0.026930,-0.034005,0.050112,0.000995,0.065219,0.024304
NumCompaniesWorked,0.296805,0.041736,0.022088,-0.003179,-0.013006,-0.016912,0.007638,-0.066905,-0.011028,-0.037967,-0.020922,1.000000,0.030717,0.017484,0.235617,-0.032565,-0.117199,-0.035774,-0.108004
PercentSalaryHike,-0.033137,0.032533,-0.031054,-0.007840,0.038125,-0.040531,-0.011214,0.011841,0.010973,0.006378,0.004325,0.030717,1.000000,0.012548,-0.018432,-0.037392,-0.029707,-0.029542,-0.040864
StockOptionLevel,-0.031753,-0.006839,0.003683,0.010512,0.011169,0.001261,0.021620,0.019237,0.000993,0.014745,0.026930,0.017484,0.012548,1.000000,0.001822,-0.069902,0.007886,0.019063,0.017757
TotalWorkingYears,0.678857,-0.169622,0.033963,-0.020024,0.007762,-0.009485,0.021214,-0.027572,-0.037831,-0.078023,-0.034005,0.235617,-0.018432,0.001822,1.000000,-0.039285,0.626275,0.403646,0.458239
TrainingTimesLastYear,-0.027308,-0.049431,-0.041888,0.012866,-0.009001,0.010472,-0.021793,-0.030167,-0.032500,0.012798,0.050112,-0.032565,-0.037392,-0.069902,-0.039285,1.000000,-0.007894,0.016121,-0.013270
YearsAtCompany,0.311309,-0.134392,-0.014575,0.010078,0.031684,0.006080,0.023120,-0.017277,-0.064219,-0.059986,0.000995,-0.117199,-0.029707,0.007886,0.626275,-0.007894,1.000000,0.618409,0.769212
YearsSinceLastPromotion,0.216513,-0.033019,-0.032591,0.014845,0.002290,0.022490,0.048181,-0.021812,-0.060811,-0.030915,0.065219,-0.035774,-0.029542,0.019063,0.403646,0.016121,0.618409,1.000000,0.510224
YearsWithCurrManager,0.202089,-0.156199,-0.022636,0.018016,0.021584,0.005358,0.021664,0.004438,-0.055251,-0.038570,0.024304,-0.108004,-0.040864,0.017757,0.458239,-0.013270,0.769212,0.510224,1.000000

By Correlation table we can see that factors affecting to attrition are MaritalStatus,NumCompaniesWorked,PercentSalaryHike

In [16]:
y=df1.iloc[:,1:2]
y.head()

   Attrition
0          0
1          1
2          0
3          0
4          0

In [17]:
x= df1.iloc[:,:1]
x.head()

   Age
0   51
1   31
2   32
3   38
4   32

In [18]:
# Building a model
from sklearn.model_selection import train_test_split
x_train , x_test, y_train, y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [19]:
x_train

      Age
2048   29
2728   34
2323   53
4299   41
3416   22
...   ...
1033   37
3264   40
1653   42
2607   31
2732   48

[3528 rows x 1 columns]

In [20]:
y_train

      Attrition
2048          1
2728          0
2323          1
4299          0
3416          0
...         ...
1033          1
3264          0
1653          0
2607          1
2732          1

[3528 rows x 1 columns]

In [21]:
from sklearn.linear_model import LinearRegression
le = LinearRegression()
le.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [22]:
x_train

      Age
2048   29
2728   34
2323   53
4299   41
3416   22
...   ...
1033   37
3264   40
1653   42
2607   31
2732   48

[3528 rows x 1 columns]

In [23]:
y_train

      Attrition
2048          1
2728          0
2323          1
4299          0
3416          0
...         ...
1033          1
3264          0
1653          0
2607          1
2732          1

[3528 rows x 1 columns]

In [24]:
unseen_pred=le.predict(np.array([[32]]))
print('The unseen for the given x is....',unseen_pred)

The unseen for the given x is.... [[0.19344326]]

In [25]:

y_pred=le.predict(x_test)
y_pred

array([[0.23450124],
       [0.20712925],
       [0.0771123 ],
       [0.20028626],
       [0.17975726],
       [0.20712925],
       [0.20712925],
       [0.18660026],
       [0.12501328],
       [0.20028626],
       [0.13185628],
       [0.14554228],
       [0.15238527],
       [0.11132729],
       [0.0907983 ],
       [0.17291427],
       [0.05658331],
       [0.17975726],
       [0.13869928],
       [0.17291427],
       [0.15238527],
       [0.21397225],
       [0.19344326],
       [0.09764129],
       [0.24818724],
       [0.15238527],
       [0.20712925],
       [0.04974031],
       [0.22765825],
       [0.21397225],
       [0.17291427],
       [0.17291427],
       [0.20028626],
       [0.10448429],
       [0.22765825],
       [0.17975726],
       [0.19344326],
       [0.20028626],
       [0.14554228],
       [0.09764129],
       [0.23450124],
       [0.0702693 ],
       [0.0771123 ],
       [0.0702693 ],
       [0.14554228],
       [0.05658331],
       [0.13869928],
       [0.26871623],
       [0.17291427],
       [0.14554228],
       [0.09764129],
       [0.18660026],
       [0.09764129],
       [0.20028626],
       [0.20712925],
       [0.21397225],
       [0.21397225],
       [0.20712925],
       [0.17975726],
       [0.0702693 ],
       [0.20028626],
       [0.22081525],
       [0.0907983 ],
       [0.15922827],
       [0.23450124],
       [0.22081525],
       [0.20712925],
       [0.13185628],
       [0.22765825],
       [0.13185628],
       [0.04289731],
       [0.11817029],
       [0.23450124],
       [0.15922827],
       [0.02921132],
       [0.10448429],
       [0.12501328],
       [0.20028626],
       [0.14554228],
       [0.01552532],
       [0.22081525],
       [0.01552532],
       [0.19344326],
       [0.27555923],
       [0.16607127],
       [0.03605431],
       [0.13869928],
       [0.20712925],
       [0.09764129],
       [0.10448429],
       [0.22081525],
       [0.12501328],
       [0.15922827],
       [0.18660026],
       [0.15238527],
       [0.17291427],
       [0.17291427],
       [0.20712925],
       [0.24134424],
       [0.19344326],
       [0.20712925],
       [0.14554228],
       [0.10448429],
       [0.24134424],
       [0.21397225],
       [0.20028626],
       [0.22765825],
       [0.18660026],
       [0.13869928],
       [0.17291427],
       [0.04974031],
       [0.00868232],
       [0.10448429],
       [0.14554228],
       [0.20028626],
       [0.14554228],
       [0.15238527],
       [0.13869928],
       [0.0839553 ],
       [0.24134424],
       [0.0702693 ],
       [0.16607127],
       [0.20028626],
       [0.22081525],
       [0.11132729],
       [0.24134424],
       [0.17975726],
       [0.11132729],
       [0.19344326],
       [0.12501328],
       [0.15238527],
       [0.20712925],
       [0.14554228],
       [0.09764129],
       [0.21397225],
       [0.13869928],
       [0.17975726],
       [0.13869928],
       [0.26187324],
       [0.00868232],
       [0.09764129],
       [0.12501328],
       [0.17975726],
       [0.09764129],
       [0.22765825],
       [0.13185628],
       [0.18660026],
       [0.12501328],
       [0.24818724],
       [0.21397225],
       [0.15922827],
       [0.0907983 ],
       [0.16607127],
       [0.20028626],
       [0.25503024],
       [0.01552532],
       [0.11817029],
       [0.23450124],
       [0.14554228],
       [0.15238527],
       [0.25503024],
       [0.12501328],
       [0.17975726],
       [0.10448429],
       [0.11817029],
       [0.09764129],
       [0.27555923],
       [0.22081525],
       [0.15922827],
       [0.0839553 ],
       [0.25503024],
       [0.10448429],
       [0.13869928],
       [0.15238527],
       [0.20028626],
       [0.17975726],
       [0.20028626],
       [0.17975726],
       [0.16607127],
       [0.02921132],
       [0.17291427],
       [0.04289731],
       [0.24818724],
       [0.21397225],
       [0.22765825],
       [0.22081525],
       [0.17291427],
       [0.18660026],
       [0.06342631],
       [0.19344326],
       [0.17975726],
       [0.04289731],
       [0.17291427],
       [0.17975726],
       [0.20028626],
       [0.01552532],
       [0.13869928],
       [0.19344326],
       [0.20028626],
       [0.20712925],
       [0.17975726],
       [0.24134424],
       [0.17291427],
       [0.15238527],
       [0.15238527],
       [0.18660026],
       [0.06342631],
       [0.17975726],
       [0.12501328],
       [0.11132729],
       [0.03605431],
       [0.20028626],
       [0.23450124],
       [0.21397225],
       [0.24134424],
       [0.28240223],
       [0.20712925],
       [0.20028626],
       [0.22081525],
       [0.0771123 ],
       [0.17975726],
       [0.22081525],
       [0.14554228],
       [0.22765825],
       [0.05658331],
       [0.17291427],
       [0.11817029],
       [0.20712925],
       [0.24818724],
       [0.27555923],
       [0.10448429],
       [0.12501328],
       [0.14554228],
       [0.11817029],
       [0.26871623],
       [0.24818724],
       [0.20712925],
       [0.0907983 ],
       [0.0771123 ],
       [0.12501328],
       [0.0839553 ],
       [0.17291427],
       [0.10448429],
       [0.04289731],
       [0.28924523],
       [0.09764129],
       [0.13185628],
       [0.20712925],
       [0.16607127],
       [0.06342631],
       [0.20028626],
       [0.18660026],
       [0.24818724],
       [0.22765825],
       [0.21397225],
       [0.04974031],
       [0.20028626],
       [0.18660026],
       [0.10448429],
       [0.14554228],
       [0.22081525],
       [0.04289731],
       [0.17975726],
       [0.11817029],
       [0.0702693 ],
       [0.17975726],
       [0.28240223],
       [0.20712925],
       [0.0839553 ],
       [0.19344326],
       [0.20712925],
       [0.24134424],
       [0.17291427],
       [0.17291427],
       [0.17975726],
       [0.19344326],
       [0.10448429],
       [0.13869928],
       [0.17975726],
       [0.22765825],
       [0.15238527],
       [0.17975726],
       [0.20712925],
       [0.26871623],
       [0.13869928],
       [0.22765825],
       [0.21397225],
       [0.18660026],
       [0.09764129],
       [0.12501328],
       [0.10448429],
       [0.18660026],
       [0.17975726],
       [0.0839553 ],
       [0.17975726],
       [0.15238527],
       [0.19344326],
       [0.04289731],
       [0.18660026],
       [0.03605431],
       [0.0907983 ],
       [0.26871623],
       [0.11132729],
       [0.22765825],
       [0.17975726],
       [0.28924523],
       [0.03605431],
       [0.20028626],
       [0.22765825],
       [0.23450124],
       [0.0907983 ],
       [0.23450124],
       [0.10448429],
       [0.05658331],
       [0.13869928],
       [0.19344326],
       [0.16607127],
       [0.15238527],
       [0.17975726],
       [0.25503024],
       [0.20712925],
       [0.28924523],
       [0.17975726],
       [0.04974031],
       [0.28240223],
       [0.09764129],
       [0.22081525],
       [0.20712925],
       [0.20712925],
       [0.13185628],
       [0.0839553 ],
       [0.20712925],
       [0.17291427],
       [0.03605431],
       [0.21397225],
       [0.17975726],
       [0.23450124],
       [0.15238527],
       [0.20028626],
       [0.22081525],
       [0.13185628],
       [0.22765825],
       [0.0907983 ],
       [0.16607127],
       [0.13185628],
       [0.19344326],
       [0.11132729],
       [0.24818724],
       [0.20028626],
       [0.0771123 ],
       [0.20028626],
       [0.20028626],
       [0.15922827],
       [0.22081525],
       [0.20712925],
       [0.24134424],
       [0.06342631],
       [0.22081525],
       [0.16607127],
       [0.0771123 ],
       [0.04289731],
       [0.17975726],
       [0.04289731],
       [0.04289731],
       [0.17975726],
       [0.11132729],
       [0.14554228],
       [0.17975726],
       [0.12501328],
       [0.22765825],
       [0.13185628],
       [0.04289731],
       [0.28240223],
       [0.17975726],
       [0.26187324],
       [0.01552532],
       [0.10448429],
       [0.12501328],
       [0.15238527],
       [0.10448429],
       [0.23450124],
       [0.17291427],
       [0.12501328],
       [0.13869928],
       [0.20028626],
       [0.17975726],
       [0.00868232],
       [0.03605431],
       [0.04289731],
       [0.18660026],
       [0.24134424],
       [0.23450124],
       [0.24134424],
       [0.13869928],
       [0.17975726],
       [0.17975726],
       [0.11817029],
       [0.16607127],
       [0.15238527],
       [0.15238527],
       [0.24134424],
       [0.10448429],
       [0.17291427],
       [0.18660026],
       [0.20712925],
       [0.20028626],
       [0.16607127],
       [0.20028626],
       [0.11817029],
       [0.13869928],
       [0.09764129],
       [0.18660026],
       [0.13869928],
       [0.17291427],
       [0.15238527],
       [0.20028626],
       [0.10448429],
       [0.05658331],
       [0.14554228],
       [0.17291427],
       [0.18660026],
       [0.13185628],
       [0.16607127],
       [0.22765825],
       [0.17975726],
       [0.13869928],
       [0.17291427],
       [0.20712925],
       [0.01552532],
       [0.12501328],
       [0.03605431],
       [0.12501328],
       [0.19344326],
       [0.14554228],
       [0.09764129],
       [0.18660026],
       [0.21397225],
       [0.02921132],
       [0.17291427],
       [0.17975726],
       [0.0907983 ],
       [0.15238527],
       [0.04289731],
       [0.25503024],
       [0.19344326],
       [0.14554228],
       [0.15238527],
       [0.0839553 ],
       [0.22081525],
       [0.20712925],
       [0.13185628],
       [0.15922827],
       [0.09764129],
       [0.16607127],
       [0.10448429],
       [0.02921132],
       [0.13185628],
       [0.11817029],
       [0.17975726],
       [0.19344326],
       [0.05658331],
       [0.22081525],
       [0.09764129],
       [0.0771123 ],
       [0.17975726],
       [0.20712925],
       [0.03605431],
       [0.13185628],
       [0.03605431],
       [0.0839553 ],
       [0.17291427],
       [0.13869928],
       [0.0771123 ],
       [0.26871623],
       [0.11817029],
       [0.20028626],
       [0.20028626],
       [0.16607127],
       [0.13869928],
       [0.21397225],
       [0.02921132],
       [0.19344326],
       [0.13869928],
       [0.22765825],
       [0.13869928],
       [0.0771123 ],
       [0.18660026],
       [0.27555923],
       [0.22081525],
       [0.21397225],
       [0.20712925],
       [0.19344326],
       [0.0771123 ],
       [0.04974031],
       [0.26187324],
       [0.20712925],
       [0.0702693 ],
       [0.22081525],
       [0.17291427],
       [0.23450124],
       [0.26187324],
       [0.18660026],
       [0.17291427],
       [0.15238527],
       [0.20712925],
       [0.02921132],
       [0.17291427],
       [0.00868232],
       [0.06342631],
       [0.19344326],
       [0.15238527],
       [0.17291427],
       [0.22081525],
       [0.12501328],
       [0.17291427],
       [0.21397225],
       [0.11817029],
       [0.16607127],
       [0.15238527],
       [0.04289731],
       [0.18660026],
       [0.21397225],
       [0.13869928],
       [0.06342631],
       [0.20712925],
       [0.22765825],
       [0.22081525],
       [0.21397225],
       [0.26187324],
       [0.03605431],
       [0.11132729],
       [0.17291427],
       [0.10448429],
       [0.22081525],
       [0.22081525],
       [0.18660026],
       [0.20712925],
       [0.0907983 ],
       [0.09764129],
       [0.19344326],
       [0.02921132],
       [0.04974031],
       [0.14554228],
       [0.15238527],
       [0.22765825],
       [0.15238527],
       [0.0839553 ],
       [0.20028626],
       [0.12501328],
       [0.13185628],
       [0.14554228],
       [0.20028626],
       [0.06342631],
       [0.17291427],
       [0.17975726],
       [0.17291427],
       [0.22765825],
       [0.13185628],
       [0.11817029],
       [0.12501328],
       [0.02236832],
       [0.26187324],
       [0.24134424],
       [0.26187324],
       [0.15238527],
       [0.19344326],
       [0.24818724],
       [0.01552532],
       [0.11132729],
       [0.16607127],
       [0.16607127],
       [0.22765825],
       [0.10448429],
       [0.04974031],
       [0.17291427],
       [0.04974031],
       [0.25503024],
       [0.15922827],
       [0.13869928],
       [0.17975726],
       [0.02921132],
       [0.10448429],
       [0.19344326],
       [0.21397225],
       [0.15922827],
       [0.20712925],
       [0.04289731],
       [0.20712925],
       [0.0907983 ],
       [0.0702693 ],
       [0.22765825],
       [0.22081525],
       [0.0771123 ],
       [0.12501328],
       [0.17975726],
       [0.21397225],
       [0.20028626],
       [0.15922827],
       [0.0702693 ],
       [0.15238527],
       [0.13869928],
       [0.16607127],
       [0.16607127],
       [0.09764129],
       [0.09764129],
       [0.21397225],
       [0.11132729],
       [0.10448429],
       [0.11817029],
       [0.15922827],
       [0.16607127],
       [0.10448429],
       [0.16607127],
       [0.11132729],
       [0.11817029],
       [0.22765825],
       [0.12501328],
       [0.24134424],
       [0.23450124],
       [0.15922827],
       [0.12501328],
       [0.11817029],
       [0.20712925],
       [0.04974031],
       [0.23450124],
       [0.01552532],
       [0.17975726],
       [0.04974031],
       [0.15238527],
       [0.11817029],
       [0.17975726],
       [0.09764129],
       [0.24818724],
       [0.21397225],
       [0.02921132],
       [0.19344326],
       [0.03605431],
       [0.12501328],
       [0.22081525],
       [0.15238527],
       [0.20028626],
       [0.20028626],
       [0.20712925],
       [0.24818724],
       [0.13185628],
       [0.23450124],
       [0.01552532],
       [0.19344326],
       [0.06342631],
       [0.06342631],
       [0.14554228],
       [0.03605431],
       [0.13869928],
       [0.21397225],
       [0.14554228],
       [0.05658331],
       [0.20028626],
       [0.13185628],
       [0.17975726],
       [0.23450124],
       [0.16607127],
       [0.22081525],
       [0.22081525],
       [0.16607127],
       [0.18660026],
       [0.0771123 ],
       [0.26187324],
       [0.22765825],
       [0.0702693 ],
       [0.00868232],
       [0.12501328],
       [0.12501328],
       [0.09764129],
       [0.15922827],
       [0.20712925],
       [0.11132729],
       [0.21397225],
       [0.23450124],
       [0.26871623],
       [0.15238527],
       [0.21397225],
       [0.24134424],
       [0.05658331],
       [0.18660026],
       [0.0771123 ],
       [0.11817029],
       [0.17975726],
       [0.18660026],
       [0.15922827],
       [0.15238527],
       [0.23450124],
       [0.20028626],
       [0.10448429],
       [0.22081525],
       [0.12501328],
       [0.13869928],
       [0.15238527],
       [0.15238527],
       [0.16607127],
       [0.06342631],
       [0.13185628],
       [0.24134424],
       [0.09764129],
       [0.19344326],
       [0.27555923],
       [0.15238527],
       [0.0702693 ],
       [0.13185628],
       [0.24134424],
       [0.13869928],
       [0.22081525],
       [0.12501328],
       [0.13185628],
       [0.20712925],
       [0.15922827],
       [0.15922827],
       [0.19344326],
       [0.17291427],
       [0.22765825],
       [0.19344326],
       [0.18660026],
       [0.03605431],
       [0.23450124],
       [0.0702693 ],
       [0.13869928],
       [0.20712925],
       [0.24134424],
       [0.13869928],
       [0.20712925],
       [0.14554228],
       [0.26187324],
       [0.17291427],
       [0.17291427],
       [0.0907983 ],
       [0.15238527],
       [0.19344326],
       [0.06342631],
       [0.24134424],
       [0.11132729],
       [0.20712925],
       [0.13185628],
       [0.06342631],
       [0.26871623],
       [0.19344326],
       [0.13185628],
       [0.19344326],
       [0.0907983 ],
       [0.20712925],
       [0.13185628],
       [0.0771123 ],
       [0.16607127],
       [0.15922827],
       [0.13869928],
       [0.12501328],
       [0.23450124],
       [0.00868232],
       [0.24818724],
       [0.02236832],
       [0.11817029],
       [0.06342631],
       [0.21397225],
       [0.04974031],
       [0.21397225],
       [0.14554228],
       [0.17291427],
       [0.26871623],
       [0.17975726],
       [0.13869928],
       [0.11132729],
       [0.18660026],
       [0.21397225],
       [0.02236832],
       [0.0771123 ],
       [0.17291427],
       [0.11132729],
       [0.15922827],
       [0.02236832],
       [0.11817029],
       [0.20712925],
       [0.15922827],
       [0.17291427],
       [0.11132729],
       [0.15922827],
       [0.26871623],
       [0.0771123 ],
       [0.17291427],
       [0.09764129],
       [0.11817029],
       [0.13869928],
       [0.22765825],
       [0.20028626],
       [0.0771123 ],
       [0.13869928],
       [0.0839553 ],
       [0.20028626],
       [0.00868232],
       [0.11817029],
       [0.0839553 ],
       [0.15238527],
       [0.18660026],
       [0.0839553 ],
       [0.0839553 ],
       [0.15238527],
       [0.12501328],
       [0.17291427],
       [0.24818724],
       [0.16607127],
       [0.17291427],
       [0.04974031],
       [0.13869928],
       [0.17975726],
       [0.17291427],
       [0.06342631],
       [0.0771123 ],
       [0.16607127],
       [0.21397225],
       [0.13185628],
       [0.18660026],
       [0.22081525],
       [0.24818724],
       [0.15238527],
       [0.13869928],
       [0.17975726],
       [0.22765825],
       [0.17975726],
       [0.06342631],
       [0.01552532],
       [0.17975726],
       [0.20712925],
       [0.15922827],
       [0.23450124],
       [0.12501328],
       [0.10448429],
       [0.26871623],
       [0.18660026],
       [0.26187324],
       [0.19344326],
       [0.17975726],
       [0.13869928],
       [0.23450124],
       [0.21397225],
       [0.14554228],
       [0.13869928],
       [0.24134424],
       [0.04974031],
       [0.04974031],
       [0.25503024],
       [0.17291427],
       [0.13185628],
       [0.12501328],
       [0.25503024],
       [0.22081525],
       [0.0839553 ],
       [0.15922827],
       [0.26187324],
       [0.17975726],
       [0.15238527],
       [0.09764129],
       [0.14554228],
       [0.20028626],
       [0.19344326],
       [0.12501328],
       [0.17291427],
       [0.18660026],
       [0.10448429],
       [0.24818724],
       [0.11132729],
       [0.28240223],
       [0.13869928],
       [0.19344326],
       [0.11132729],
       [0.04974031],
       [0.0907983 ],
       [0.13869928],
       [0.17291427],
       [0.05658331],
       [0.13869928],
       [0.15922827],
       [0.04289731],
       [0.22081525],
       [0.04974031],
       [0.17975726]])

In [34]:
y=df1.iloc[:,1:2]
y.head()

   Attrition
0          0
1          1
2          0
3          0
4          0

In [35]:
x = df1.iloc[:,2:8]
x

,BusinessTravel,Department,DistanceFromHome,Education,EducationField,Gender
0,2,2,6,2,1,0
1,1,1,10,1,1,0
2,1,1,17,4,4,1
3,0,1,2,5,1,1
4,2,1,10,1,3,1
...,...,...,...,...,...,...
4405,2,1,5,4,3,0
4406,2,1,2,4,3,1
4407,2,1,25,2,1,1
4408,2,2,18,2,3,1
4409,2,1,28,3,3,1

In [36]:
from sklearn.model_selection import train_test_split
x_train , x_test, y_train, y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [37]:
x_train

,BusinessTravel,Department,DistanceFromHome,Education,EducationField,Gender
2048,2,1,6,3,1,1
2728,0,1,7,2,5,0
2323,2,1,19,3,1,1
4299,1,2,10,2,3,0
3416,2,1,8,3,4,1
...,...,...,...,...,...,...
1033,2,1,24,3,1,1
3264,1,1,10,4,3,1
1653,1,1,2,4,3,0
2607,1,1,2,1,4,1
2732,2,1,2,4,5,0

In [38]:
y_train

      Attrition
2048          1
2728          0
2323          1
4299          0
3416          0
...         ...
1033          1
3264          0
1653          0
2607          1
2732          1

[3528 rows x 1 columns]

In [39]:
le.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [40]:
y1_pred=le.predict(x_test)
y1_pred

array([[0.11108802],
       [0.15940367],
       [0.10585763],
       [0.1989266 ],
       [0.16624187],
       [0.14070317],
       [0.14369439],
       [0.13884862],
       [0.15430697],
       [0.2032425 ],
       [0.19238306],
       [0.14343347],
       [0.13704683],
       [0.17114458],
       [0.13563953],
       [0.20631207],
       [0.14394365],
       [0.19842807],
       [0.17670679],
       [0.14670524],
       [0.12995764],
       [0.15408904],
       [0.14352353],
       [0.20307164],
       [0.16626747],
       [0.14260732],
       [0.13651524],
       [0.13377501],
       [0.16050875],
       [0.19573324],
       [0.19792954],
       [0.11707035],
       [0.15589429],
       [0.15024028],
       [0.19842807],
       [0.16754513],
       [0.19468911],
       [0.19743101],
       [0.14592611],
       [0.16624187],
       [0.15782973],
       [0.16449702],
       [0.15893475],
       [0.157828  ],
       [0.16801232],
       [0.17877931],
       [0.16823598],
       [0.17538206],
       [0.19686981],
       [0.14343347],
       [0.12373764],
       [0.10998121],
       [0.21213348],
       [0.1369346 ],
       [0.15915268],
       [0.1066641 ],
       [0.15083055],
       [0.17786483],
       [0.20072844],
       [0.14692322],
       [0.10776923],
       [0.14344507],
       [0.13804389],
       [0.18019649],
       [0.18373325],
       [0.18169212],
       [0.16674034],
       [0.1498022 ],
       [0.1104228 ],
       [0.16142744],
       [0.15340165],
       [0.14067188],
       [0.11108802],
       [0.15432029],
       [0.16342156],
       [0.15815567],
       [0.15932364],
       [0.12900766],
       [0.13453446],
       [0.10308439],
       [0.1989266 ],
       [0.10308439],
       [0.14698184],
       [0.1989266 ],
       [0.15616151],
       [0.12972003],
       [0.1563637 ],
       [0.17211029],
       [0.13580046],
       [0.13806949],
       [0.14667568],
       [0.11275445],
       [0.11448943],
       [0.17329967],
       [0.17994722],
       [0.19867733],
       [0.13151195],
       [0.17786483],
       [0.19261659],
       [0.1751328 ],
       [0.16374923],
       [0.13079544],
       [0.13782023],
       [0.19867733],
       [0.14801029],
       [0.14525505],
       [0.16674034],
       [0.15380838],
       [0.14036568],
       [0.20830618],
       [0.1659926 ],
       [0.19792954],
       [0.17346636],
       [0.14592611],
       [0.14592789],
       [0.14592611],
       [0.13461281],
       [0.15276604],
       [0.16723892],
       [0.20374102],
       [0.16043033],
       [0.1567996 ],
       [0.18173914],
       [0.14667568],
       [0.16317229],
       [0.19950354],
       [0.16225365],
       [0.15408899],
       [0.14444218],
       [0.20456723],
       [0.13278955],
       [0.14801029],
       [0.10242494],
       [0.17845164],
       [0.22073621],
       [0.1469545 ],
       [0.18677377],
       [0.15530402],
       [0.13989676],
       [0.13273094],
       [0.14419292],
       [0.19336438],
       [0.13098203],
       [0.19867733],
       [0.18699169],
       [0.20157606],
       [0.09724157],
       [0.11275445],
       [0.14061316],
       [0.11881525],
       [0.11449935],
       [0.15662875],
       [0.15176893],
       [0.15738987],
       [0.14469144],
       [0.15173592],
       [0.16289342],
       [0.13129397],
       [0.15913472],
       [0.14975513],
       [0.17055777],
       [0.20606281],
       [0.16011839],
       [0.12869336],
       [0.16798672],
       [0.17213176],
       [0.16723892],
       [0.19676163],
       [0.18019649],
       [0.13231082],
       [0.18937616],
       [0.18501091],
       [0.20332091],
       [0.18326606],
       [0.1989266 ],
       [0.12816578],
       [0.16161403],
       [0.14570819],
       [0.19743101],
       [0.19512496],
       [0.14776102],
       [0.19211806],
       [0.11632256],
       [0.18019649],
       [0.15157839],
       [0.1730504 ],
       [0.19009261],
       [0.16865194],
       [0.19867733],
       [0.16367082],
       [0.12874266],
       [0.16342156],
       [0.23725201],
       [0.17055771],
       [0.12008126],
       [0.15173592],
       [0.16823598],
       [0.1386191 ],
       [0.15633242],
       [0.16549402],
       [0.16624182],
       [0.19950354],
       [0.18862837],
       [0.16217524],
       [0.18326606],
       [0.13278955],
       [0.13453446],
       [0.14152937],
       [0.13712519],
       [0.17039678],
       [0.18857902],
       [0.13303882],
       [0.16089752],
       [0.1066641 ],
       [0.2165574 ],
       [0.14670524],
       [0.19867733],
       [0.15583389],
       [0.15176898],
       [0.16349997],
       [0.14501912],
       [0.14520966],
       [0.13779463],
       [0.17617693],
       [0.12610899],
       [0.14742175],
       [0.16036771],
       [0.13455414],
       [0.16681881],
       [0.14095249],
       [0.17496194],
       [0.17388648],
       [0.09575932],
       [0.15633242],
       [0.18932681],
       [0.19768028],
       [0.16374923],
       [0.14950587],
       [0.15383972],
       [0.12314916],
       [0.17994722],
       [0.12972003],
       [0.15056968],
       [0.16342156],
       [0.15251505],
       [0.13580046],
       [0.19842807],
       [0.20374102],
       [0.183843  ],
       [0.15863619],
       [0.19411217],
       [0.14592611],
       [0.18959408],
       [0.13286629],
       [0.15083055],
       [0.1659926 ],
       [0.18881495],
       [0.13560819],
       [0.22411372],
       [0.12797513],
       [0.19676163],
       [0.1361084 ],
       [0.17800018],
       [0.1989266 ],
       [0.157828  ],
       [0.11742763],
       [0.1142071 ],
       [0.15226578],
       [0.13604972],
       [0.15027167],
       [0.15608315],
       [0.13204176],
       [0.1310901 ],
       [0.14452059],
       [0.15885639],
       [0.14827929],
       [0.1492566 ],
       [0.15151972],
       [0.12816578],
       [0.18699169],
       [0.14797895],
       [0.13438156],
       [0.19693249],
       [0.15658335],
       [0.14801029],
       [0.17994722],
       [0.15102114],
       [0.14494071],
       [0.12373764],
       [0.16989826],
       [0.15304263],
       [0.17329967],
       [0.15083055],
       [0.19535855],
       [0.13530199],
       [0.14219875],
       [0.16823598],
       [0.18524685],
       [0.16698961],
       [0.14703292],
       [0.19233599],
       [0.158882  ],
       [0.10245622],
       [0.16903079],
       [0.08895078],
       [0.13195181],
       [0.17293649],
       [0.16125654],
       [0.07319851],
       [0.17463427],
       [0.17944869],
       [0.1100126 ],
       [0.10129247],
       [0.16698961],
       [0.19686981],
       [0.17329967],
       [0.1989266 ],
       [0.143932  ],
       [0.13936857],
       [0.19867733],
       [0.12182443],
       [0.15198518],
       [0.15711149],
       [0.1329802 ],
       [0.20274397],
       [0.14419292],
       [0.16144318],
       [0.17312882],
       [0.13654831],
       [0.11299212],
       [0.12874266],
       [0.16117818],
       [0.15307392],
       [0.14703292],
       [0.15464797],
       [0.08895078],
       [0.16222225],
       [0.14950587],
       [0.1918688 ],
       [0.17795311],
       [0.14767274],
       [0.17795311],
       [0.14391231],
       [0.10510984],
       [0.16964899],
       [0.1251706 ],
       [0.13997512],
       [0.23620615],
       [0.23927573],
       [0.1223833 ],
       [0.1369346 ],
       [0.15083055],
       [0.15438532],
       [0.17235956],
       [0.14645598],
       [0.20271263],
       [0.2501509 ],
       [0.1989266 ],
       [0.19308383],
       [0.16342156],
       [0.18826935],
       [0.14570819],
       [0.14975513],
       [0.14975513],
       [0.16596127],
       [0.24965237],
       [0.16952937],
       [0.16684441],
       [0.19764899],
       [0.1104228 ],
       [0.19842807],
       [0.15002414],
       [0.20199618],
       [0.13229103],
       [0.25297121],
       [0.1223833 ],
       [0.14088981],
       [0.15098812],
       [0.15209488],
       [0.16779439],
       [0.1667404 ],
       [0.1117574 ],
       [0.18326606],
       [0.143932  ],
       [0.1989266 ],
       [0.17661851],
       [0.20299323],
       [0.16698966],
       [0.18401386],
       [0.13560819],
       [0.15332324],
       [0.19817881],
       [0.1204676 ],
       [0.143932  ],
       [0.13657558],
       [0.15885639],
       [0.13411428],
       [0.14975513],
       [0.16300144],
       [0.1559123 ],
       [0.13181229],
       [0.24334236],
       [0.20631207],
       [0.1751328 ],
       [0.13480346],
       [0.19411217],
       [0.15176893],
       [0.14145096],
       [0.14291526],
       [0.14801029],
       [0.13580046],
       [0.15173592],
       [0.20855545],
       [0.19062248],
       [0.16142739],
       [0.18173914],
       [0.08960683],
       [0.16698961],
       [0.16674034],
       [0.17895017],
       [0.19236733],
       [0.16798672],
       [0.19037321],
       [0.14801023],
       [0.13438156],
       [0.19411217],
       [0.17030845],
       [0.17720532],
       [0.10129247],
       [0.11324311],
       [0.17293649],
       [0.18173914],
       [0.18225568],
       [0.16139778],
       [0.1170704 ],
       [0.16521342],
       [0.16957058],
       [0.1883791 ],
       [0.16748819],
       [0.1341323 ],
       [0.16989826],
       [0.17488353],
       [0.19211806],
       [0.16092886],
       [0.1401733 ],
       [0.16801232],
       [0.15666009],
       [0.17538206],
       [0.15508604],
       [0.10917648],
       [0.1989266 ],
       [0.11448943],
       [0.12263257],
       [0.11283292],
       [0.17496194],
       [0.19817881],
       [0.1830168 ],
       [0.11122753],
       [0.12816578],
       [0.1787009 ],
       [0.17877931],
       [0.15176898],
       [0.12772587],
       [0.11781819],
       [0.1110096 ],
       [0.12182443],
       [0.16698966],
       [0.18449906],
       [0.17994722],
       [0.13430493],
       [0.13026558],
       [0.1515964 ],
       [0.16349997],
       [0.16674034],
       [0.14067188],
       [0.20050059],
       [0.15407103],
       [0.15148665],
       [0.19842807],
       [0.15519579],
       [0.17916809],
       [0.15102114],
       [0.14977482],
       [0.09951629],
       [0.19686981],
       [0.08538268],
       [0.16865194],
       [0.15943333],
       [0.14592611],
       [0.13718219],
       [0.14542764],
       [0.16698961],
       [0.17163318],
       [0.19286585],
       [0.14241673],
       [0.17211029],
       [0.15732947],
       [0.17795311],
       [0.16745685],
       [0.16773745],
       [0.18127195],
       [0.16521342],
       [0.23725201],
       [0.13461281],
       [0.17969796],
       [0.18650655],
       [0.19693249],
       [0.14120175],
       [0.15913472],
       [0.15102114],
       [0.14975513],
       [0.14601617],
       [0.17180403],
       [0.16145305],
       [0.20830618],
       [0.10184967],
       [0.16289342],
       [0.17435367],
       [0.12995764],
       [0.11233434],
       [0.17916809],
       [0.16748819],
       [0.14427133],
       [0.1518276 ],
       [0.17211029],
       [0.15630108],
       [0.16167671],
       [0.11930045],
       [0.16798672],
       [0.18857902],
       [0.15408899],
       [0.1606796 ],
       [0.1918688 ],
       [0.19062248],
       [0.19062248],
       [0.14494071],
       [0.14975513],
       [0.18660292],
       [0.14302501],
       [0.14673263],
       [0.1954369 ],
       [0.16424776],
       [0.1266958 ],
       [0.10981036],
       [0.16018112],
       [0.17329967],
       [0.17994722],
       [0.19411217],
       [0.12314916],
       [0.1989266 ],
       [0.16192592],
       [0.1918688 ],
       [0.17363721],
       [0.16848524],
       [0.11742763],
       [0.13081518],
       [0.19311517],
       [0.15885639],
       [0.14260732],
       [0.16723892],
       [0.17636919],
       [0.17189237],
       [0.1659926 ],
       [0.15432029],
       [0.1082677 ],
       [0.16145305],
       [0.20830618],
       [0.15077187],
       [0.17114458],
       [0.19643396],
       [0.17820238],
       [0.18699169],
       [0.15918407],
       [0.17180403],
       [0.16446563],
       [0.19286585],
       [0.14877776],
       [0.12667019],
       [0.15276604],
       [0.17130556],
       [0.11856599],
       [0.08521182],
       [0.19108967],
       [0.1283028 ],
       [0.16773745],
       [0.14478954],
       [0.15340165],
       [0.14496039],
       [0.19867733],
       [0.1649955 ],
       [0.13148456],
       [0.15920967],
       [0.17105624],
       [0.15583389],
       [0.11781814],
       [0.19361365],
       [0.11425009],
       [0.16773745],
       [0.1730504 ],
       [0.1082677 ],
       [0.15763913],
       [0.1905598 ],
       [0.19718175],
       [0.17845164],
       [0.13029692],
       [0.1283028 ],
       [0.16599255],
       [0.17437514],
       [0.15863279],
       [0.13837156],
       [0.17030845],
       [0.14900734],
       [0.16222225],
       [0.17944869],
       [0.10744155],
       [0.15332324],
       [0.1359871 ],
       [0.14469144],
       [0.19750943],
       [0.15102114],
       [0.12470514],
       [0.15307397],
       [0.11449935],
       [0.1497418 ],
       [0.16167671],
       [0.10129247],
       [0.18808049],
       [0.17820238],
       [0.15483851],
       [0.20124838],
       [0.11482703],
       [0.19006127],
       [0.16239316],
       [0.19867739],
       [0.15758046],
       [0.17329967],
       [0.20307164],
       [0.16647145],
       [0.1915882 ],
       [0.13361581],
       [0.13601844],
       [0.17238102],
       [0.157828  ],
       [0.16064826],
       [0.14111341],
       [0.13303882],
       [0.15173592],
       [0.18982534],
       [0.13280929],
       [0.16756655],
       [0.13453446],
       [0.17797112],
       [0.18217727],
       [0.18832975],
       [0.1223833 ],
       [0.18832975],
       [0.13045617],
       [0.17919943],
       [0.14266767],
       [0.15790636],
       [0.16342156],
       [0.14344507],
       [0.15508604],
       [0.17820238],
       [0.13278955],
       [0.17102495],
       [0.17189237],
       [0.15332324],
       [0.11931378],
       [0.20299323],
       [0.14394365],
       [0.15049127],
       [0.15913472],
       [0.15356085],
       [0.14975513],
       [0.22530137],
       [0.18962542],
       [0.17235956],
       [0.1419182 ],
       [0.16142739],
       [0.15254411],
       [0.1591544 ],
       [0.17877931],
       [0.10615224],
       [0.10110015],
       [0.1658217 ],
       [0.16684441],
       [0.14592611],
       [0.19009261],
       [0.13361581],
       [0.14260732],
       [0.15583389],
       [0.15433998],
       [0.12844237],
       [0.17388648],
       [0.18532526],
       [0.13461281],
       [0.17736285],
       [0.15432029],
       [0.16756655],
       [0.1723909 ],
       [0.13175948],
       [0.17387661],
       [0.14145096],
       [0.1732171 ],
       [0.15694069],
       [0.16355691],
       [0.11454637],
       [0.15332324],
       [0.11756893],
       [0.18574538],
       [0.14296634],
       [0.19308378],
       [0.14900734],
       [0.13489174],
       [0.12625008],
       [0.11831672],
       [0.16748819],
       [0.12649929],
       [0.15843628],
       [0.15711155],
       [0.16202999],
       [0.17235956],
       [0.15732947],
       [0.15564497],
       [0.14900734],
       [0.13204176],
       [0.19411217],
       [0.17944869],
       [0.16217518],
       [0.15432029],
       [0.19792954],
       [0.16706802],
       [0.15768849],
       [0.14950587],
       [0.15738987],
       [0.13885035],
       [0.2165574 ],
       [0.22463199],
       [0.16275212],
       [0.16798672],
       [0.17538206],
       [0.16806507],
       [0.17811409],
       [0.15885639],
       [0.20432789],
       [0.14319586],
       [0.1061325 ],
       [0.15409077],
       [0.19411217],
       [0.20731905],
       [0.16040072],
       [0.11756893],
       [0.1482595 ],
       [0.16773745],
       [0.13760398],
       [0.14061316],
       [0.1891269 ],
       [0.13303882],
       [0.19867733],
       [0.11881525],
       [0.13377501],
       [0.14601617],
       [0.19560781],
       [0.14620671],
       [0.158882  ],
       [0.13436355],
       [0.1469545 ],
       [0.16189636],
       [0.2032425 ],
       [0.19668322],
       [0.20349176],
       [0.15157834],
       [0.1751328 ],
       [0.18932681],
       [0.24409016],
       [0.1891269 ],
       [0.1751328 ],
       [0.18549611],
       [0.19087174],
       [0.14341378],
       [0.11731967],
       [0.1567996 ],
       [0.17538206],
       [0.15354116],
       [0.15107986],
       [0.13029692],
       [0.12896059],
       [0.19012395],
       [0.16624187],
       [0.15680133],
       [0.10110015],
       [0.1515964 ],
       [0.16468355],
       [0.10776923],
       [0.13804389],
       [0.15569432],
       [0.13430493],
       [0.18401386],
       [0.18381394],
       [0.20830618],
       [0.1201382 ],
       [0.14260732],
       [0.12470514],
       [0.13081518],
       [0.16064826],
       [0.19867733],
       [0.1310901 ],
       [0.17288942],
       [0.1161517 ],
       [0.11094698],
       [0.16706802],
       [0.11233434],
       [0.14645598],
       [0.13785324],
       [0.19768028],
       [0.15409077],
       [0.17611998],
       [0.16192592],
       [0.16239316],
       [0.13402255],
       [0.16175512],
       [0.19867733],
       [0.20830618],
       [0.15156674],
       [0.17538206],
       [0.10308439],
       [0.17800018],
       [0.157828  ],
       [0.1560831 ],
       [0.11864267],
       [0.19336438],
       [0.08960683],
       [0.16848524],
       [0.1482595 ],
       [0.18127195],
       [0.13679757],
       [0.13936857],
       [0.19012395],
       [0.20349176],
       [0.19361365],
       [0.12772587],
       [0.1469545 ],
       [0.16449702],
       [0.17636919],
       [0.17820238],
       [0.13629899],
       [0.13081518],
       [0.16748819],
       [0.20374102],
       [0.16092886],
       [0.17039678],
       [0.11425009],
       [0.15432029],
       [0.20830618],
       [0.12998903],
       [0.1461771 ],
       [0.11449935],
       [0.13568828],
       [0.16161403],
       [0.17587072],
       [0.18173914],
       [0.15993186],
       [0.20199618],
       [0.16931145],
       [0.11648014],
       [0.15938398],
       [0.18862837],
       [0.14977482],
       [0.1989266 ],
       [0.13580051],
       [0.20705986],
       [0.11197532],
       [0.15558462],
       [0.17895017],
       [0.14469144],
       [0.15757874],
       [0.19087174],
       [0.21013937],
       [0.1730504 ],
       [0.17288942],
       [0.12830286]])

In [41]:
from sklearn.metrics import mean_squared_error,r2_score
RMSE=np.sqrt(mean_squared_error(y_test,y1_pred))
r_square=r2_score(y_test,y1_pred)

print('The R-Square value is...',r_square)
print('The RMSE value is........',RMSE)

The R-Square value is... 0.004866047639588644
The RMSE value is........ 0.3697344619491403

By the RMSE(root of mean squared error  ) we can say that this model is 35% accurate